.navbar {
    width: 100%;
    max-width: 1200px;
    padding: 1rem clamp(1rem, 4vw, 2rem);
    background-color: var(--color-background-secondary);
    display: flex;
    box-shadow: 0 2px 4px var(--color-shadow);
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navList {
    max-width: 1200px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(2rem, 4vw, 3rem);
}

.navLink {
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.25s;
}

.navLink:hover {
    color: var(--color-accent);
}

.hamburgerButton {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: var(--color-text-primary);
    cursor: pointer;
    padding: 0.5rem;
    transition: 1010;
    z-index: 1001;
}


@media (max-width: 768px) {

    .navbar {
        justify-content: flex-end;
        padding: 0.75rem 1.5rem;
        max-width: 1200px;
    }

    .controlsContainer {
        z-index: 1010;
        position: relative;
    }

    .hamburgerButton {
        display: block;
    }

    .navList {
        position: fixed;
        top: 0;
        left: 50%;
        width: 50%;
        height: 50vh;
        background-color: var(--color-background-secondary);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .activeMenu {
        transform: translateY(0);
    }

    .navLink {
        font-size: 2rem;
    }

}